name: Automatic +ve/-ve Testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install the package
      run: |
        pip install setuptools
        python setup.py install

    - name: svwar tests
      run: |
        pushd autotest
        ./svwar.sh
        popd

    - name: svcrack tests
      run: |
        pushd autotest
        ./svcrack.sh
        popd

    - name: svmap tests
      run: |
        pushd autotest
        ./svmap.sh
        popd
